{% extends "base.twig" %}

{% block content %}
<h2>Admin Page</h2>
<ul>
    <li>
        <a href="/admin/update">Update plugins table</a>
    </li>
    <li>
        <a href="/admin/update?get=contributors">Update contributors</a>
    </li>
    <li>
        <a href="/admin/update?get=issues">Update issues</a>
    </li>
</ul>
{% endblock %}