{% extends "base.twig" %}

{% block content %}
<h2>Oversight</h2>
<form>
    <div class="mb-3">
        <label for="search" class="form-label">Produce Report</label>
        <input type="text" class="form-control" id="search">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}