{% extends "base.twig" %}

{% block content %}
<h2>Plugins Page</h2>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            {% for key, value in plugins[0] %}
            <td>{{ key | capitalize | replace({'_': ' '})}}</td>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for plugin in plugins %}
        <tr>
            {% for key, pluginData in plugin %}
            <td>{{pluginData}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}